.header {
  display: flex;
  height: 140px;
  font-size: 40px;
  background: #e13636;

  .row {
    margin: auto;
    display: flex;
    place-content: space-between;
    width: 100%;
    padding: 0 70px;
  }

  .mtg {
    font-weight: bold;
  }
}